.product-card__shipping-row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.product-card__shipping {
    font-size: 14px;
    color: #00a650;
    font-weight: 500;
}

.product-card__arrival {
    font-size: 14px;
    color: #00a650;
    display: flex;
}

.product-card__shipping-arrival {
    font-size: 14px;
    background-color: #00a650;
    font-weight: 600;
    border-radius: 2px;
    color: white;
    line-height: 21px;
    padding: 0 4px;
}

@media (max-width: 480px) {
    .product-card__shipping-row {
        gap: 4px;
        flex-wrap: wrap;
    }

    .product-card__shipping {
        font-size: 11px;
    }

    .product-card__arrival {
        font-size: 11px;
    }

    .product-card__shipping-arrival {
        font-size: 11px;
        line-height: 16px;
        padding: 0 4px;
    }
}

@media (max-width: 320px) {
    .product-card__shipping {
        font-size: 10px;
    }

    .product-card__arrival {
        font-size: 10px;
    }

    .product-card__shipping-arrival {
        font-size: 10px;
        line-height: 14px;
        padding: 0 4px;
    }
}