.product-shipping__text {
    color: #00a650;
    font-weight: 500;
    font-size: 0.95rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-bottom: 15px;
}

@media (max-width: 480px) {
    .product-shipping__text {
        font-size: 0.85rem;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .product-shipping__text {
        font-size: 1.25rem;
    }
}