.product-card__image-container {
    width: 100%;
    height: 173px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card__image {
    min-height: 160px;
    max-height: 173px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 480px) {
    .product-card__image-container {
        height: 120px;
    }

    .product-card__image {
        min-height: unset;
        max-height: 120px;
    }
}