.product-quantity {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.product-quantity__title {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin: 0 0 12px 0;
}

.product-quantity__selector {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 1rem;
}

.product-quantity__label {
    color: #333;
}

.product-quantity__value-container {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.1s;
    height: 32px;
}

.product-quantity__value-container:hover {
    background-color: rgba(65, 137, 230, 0.15);
    /* Fondo celestito al hacer posar el ratón (Hover) */
}

/* 
  Cuando hacemos hover al contenedor, queremos que el numero 
  se pinte del azul caracteristico (MercadoLibre) 
*/
.product-quantity__value-container:hover .product-quantity__select {
    color: #3483fa;
}

.product-quantity__select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    cursor: pointer;
    padding-left: 8px;
    /* Separacion text label */
    padding-right: 20px;
    /* Espacio para la flecha */
    font-family: inherit;
    outline: none;
    height: 100%;
}

.product-quantity__select:focus {
    color: #333 !important;
    /* Mantiene el color negro mientras está abierto */
}

.product-quantity__select option {
    color: #333;
    font-size: 1.1rem;
    /* Listado un poco más grande */
    padding: 10px 8px;
    /* Separación entre unidades del listado */
    background-color: #fff;
}

.product-quantity__chevron {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #3483fa;
    /* Celeste ML */
}

.product-quantity__available {
    color: #999;
    font-size: 0.85rem;
    margin-left: 4px;
}

.product-quantity__selector--last {
    margin-top: 0.5rem;
}

.product-quantity__last-available {
    color: #000;
    font-weight: 600;
    font-size: 0.9rem;
}

@media (min-width: 480px) and (max-width: 767px) {
    .product-quantity__title {
        font-size: 1.4rem;
    }

    .product-quantity__selector {
        font-size: 1.35rem;
    }

    .product-quantity__select {
        font-size: 1.35rem;
    }

    .product-quantity__available {
        font-size: 1.15rem;
    }

    .product-quantity__last-available {
        font-size: 1.25rem;
    }
}



@media (max-width: 418px) {
    .product-quantity__available {
        margin-left: 0;
        margin-top: 4px;
        font-size: 0.65rem;
    }
}

@media (max-width: 388px) {
    .product-quantity__selector {
        flex-wrap: wrap;
    }

    .product-quantity__available {
        flex-basis: 100%;
        margin-left: 0;
        margin-top: 4px;
        font-size: 0.7rem;
    }
}