@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --ml-yellow: #ffe600;
  --blue-text: rgb(44, 50, 115);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ebebeb;
}

.navbar {
  width: 100%;
  background: var(--ml-yellow);
}

.navbar__container {
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 724px) {
  .navbar__text--secondary {
    display: none !important;
  }
}

@media (min-width: 601px) and (max-width: 724px) {
  .navbar__user-avatar.navbar__text--secondary {
    display: flex !important;
  }

  .navbar__categories-item.navbar__text--secondary {
    display: block !important;
  }
}

@media (max-width: 600px) {
  .navbar__user-avatar.navbar__text--secondary {
    display: none !important;
  }
}

@media (min-width: 601px) {
  .navbar__container {
    width: 90%;
  }
}