.carousel-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.carousel {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 16px 0;
    width: calc((198px + 20px) * 5);
}

.carousel::-webkit-scrollbar {
    display: none;
}