.carousel-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.carousel {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 16px 0;
    width: 100%;
    max-width: 1090px;
}

.carousel::-webkit-scrollbar {
    display: none;
}